* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Regular, PingFang SC;
}

html,
body,
#app {
  height: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ovh {
  overflow: hidden;
}

.mb18 {
  margin-bottom: 18px;
}

.flex-grow {
  flex-grow: 1;
}

.d-block {
  display: block;
}

.el-menu--popup {
  min-width: 150px;
}
