// 宽高
$navHeight: 56px;
$menuOpenWidth: 210px;


// 文字颜色
$menuTextColor: #fff;
$menuActiveTextColor: #409eff;
$readonlyTextColor : #97a8be;


// 背景颜色
$menuInlineBgColor: #1f2d3d;
$menuHoverBgColor: #272c36;
$menuBgColor: #313743;


:export {
  navHeight: $navHeight;
  menuOpenWidth: $menuOpenWidth;
  menuTextColor: $menuTextColor;
  menuActiveTextColor: $menuActiveTextColor;
  menuInlineBgColor: $menuInlineBgColor;
  menuHoverBgColor: $menuHoverBgColor;
  menuBgColor: $menuBgColor;
}